<a href="https://colab.research.google.com/github/cinsimoes/gz-dbt-repository/blob/main/Recall_Python_Basics_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ![Emil]()

# Recall Python Basics

Before you start, Google Colab is going to be your friend for the next few days, so you'd better start to get familiar with it! \
Here you'll find **tutorials and tips** for getting started on Google Colab. Don't worry, Colab is renowned for being user-friendly! ðŸ¤—

[Tutorials & Tips ðŸ”—](https://lewagon.notion.site/Get-Started-with-Google-Colaboratory-916b255b21fa495baa58b654c90f7f86)

## Basic initialisations

Initialise two variables `a` and `b`, respectively equal to `5` and `20`

In [ ]:
a = 5
b = 20

Display the value of `a`

In [ ]:
print(a)

5

Change the value of `a` to 7

In [ ]:
a = 7

Display the new value of `a`

In [ ]:
print(a)

7

Create a new variable `d` equal to the product of variables `a` and `b`. What is the type of `d`?

In [ ]:
d = (a * b)

In [ ]:
print(d)

140

We want to switch values between `a` and `b`. How can we proceed ?


<details>
    <summary>Hint ðŸ’¡</summary>
    
Think of introducing new elements...
</details>

In [ ]:
print(f"a: {a}, b: {b}")

a: 7, b: 20

In [ ]:
a, b = b, a

In [ ]:
print(a)

20

## Create conditions

Create a new variable `e` equal to 20 and create a condition that will display `"strictly greater than 5"` if this variable is indeed strictly greater than 5.


ðŸ’¡ Have a look at the lecture to see how to properly write a condition in Python.

In [ ]:
e = 20

In [ ]:
if e > 5:
  print("strictly greater than 5")

strictly greater than 5

Complete the previous code to display `"less than or equal to 5"` if the variable is not greater than 5.


Try to assign different values to the variable `e`and test your code with those new values.

In [ ]:
if e > 5:
  print("strictly greater than 5")

elif e <= 5:
  print("less than or equal to 5")

strictly greater than 5

Complete the previous code to display `"equal to 5"` if e is equal to 5.

Test your code on several values of `e`.

<details>
    <summary>Hint ðŸ’¡</summary>
    
    
`elif`
</details>

In [ ]:
if e > 5:
  print("strictly greater than 5")

elif e < 5:
  print("less than or equal to 5")

else:
  print("equal to 5")

strictly greater than 5

In [ ]:
e = 0

In [ ]:
if e > 5:
  print("strictly greater than 5")

elif e < 5:
  print("less than or equal to 5")

else:
  print("equal to 5")

less than or equal to 5

In [ ]:
e = 5

In [ ]:
if e > 5:
  print("strictly greater than 5")

elif e < 5:
  print("less than or equal to 5")

else:
  print("equal to 5")

equal to 5

## Lists

Create a list `list_example` of values 3, 5, 12, 7, 4 and 36

In [ ]:
list_example = [3, 5, 12, 7, 4, 36]

Now add the value `2` to the list.

In [ ]:
print(list_example)

[3, 5, 12, 7, 4, 36]

In [ ]:
list_example.append(2)
print(list_example)

[3, 5, 12, 7, 4, 36, 2]

In [ ]:
list_example

[3, 5, 12, 7, 4, 36, 2]

Display the length of `list_example`

In [ ]:
len(list_example)

7

Display the first element of `list_example`

In [ ]:
list_example[0]

3

In [ ]:
list_example

[3, 5, 17, 17, 17, 12, 7, 4, 36, 2]

In [ ]:
list_example = [3, 5, 12, 7, 4, 36, 2]

Change the third item in the list to 17 and display the modified list

In [ ]:
list_example.insert(2, 17)

In [ ]:
list_example

[3, 5, 17, 12, 7, 4, 36, 2]

With a loop, display the multiples of 4 in `list_example` one below the other.

<details>
    <summary>Hint ðŸ’¡</summary>
    
    
You can write the following condition `val % 4 == 0` to test if the variable `val` is a multiple of 4.
    

The `%` sign in Python refers to the [modulo](https://simple.wikipedia.org/wiki/Modulation_(mathematics)). We test if the remainder of the division of `val` by 4 is 0 or not.
</details>

In [ ]:
list_example = [12, 4, 36]

In [ ]:
print(list_example[0])
print(list_example[1])
print(list_example[2])

12
4
36

## Dictionaries

Run the code below to initialise the dictionary.

In [ ]:
dict_example = {
    "A": "car",
    "B": 2,
    "C": "bike"
}

Display the keys of `dict_example`

In [ ]:
a = list(dict_example.keys())

print(a)

['A', 'B', 'C']

Display the value associated to the `C` key

In [ ]:
print(dict_example.values())

dict_values(['car', 2, 'bike'])

In [ ]:
print(dict_example["C"])

bike

Add a new key `D` with an associated value of `8`. Display `dict_example` to check the result.

In [ ]:
dict_example["D"] = 8

In [ ]:
print(dict_example)

{'A': 'car', 'B': 2, 'C': 'bike', 'D': 8}